@use "variables.scss" as *;
@use "mixins.scss" as *;



header {

    h1,h2 {
        color: $main-color;
        font-size:30px;
        background: $secondary-color;
    }

    div {
        border: 2px solid $main-color;
        height: 100px;
        padding: 5px;
    }

    .register-btn {
        @include btn;

        color:white;
        background:black;
        border:none;
    }

    .login-btn {
        @include btn;
        
        background:$secondary-color;
        border:1px solid black;
    }
    
}