@use "variables.scss" as *;
@use "mixins.scss" as *;



header {

    h1,h2 {
        color: $main-color;
        font-size:30px;
        background: $secondary-color;
    }

    div {
        border: 2px solid $main-color;
        height: 100px;
        padding: 5px;
        background:purple;
        //Alternativ 1 - Media query med variabel

        @media (max-width:$small){
            background:purple;
        }

        //Alternativ 2 - Media query med mixin
        @include tablet {
            background: orange;
        }

        @include desktop {
            background: green;
        }
    }

    .register-btn {
        @include btn;
        color:white;

        &:hover {
            background:#333;

        }

    }

    .login-btn {
        @include btn(blue,1px solid white);

        &:hover {
            background:white;
        }
    }
    
}